:root{
  --Tabs-line-color: rgb(235, 236, 240);;
}
.tabwrapper{
  position: relative;
  // .tabline{
  //   background-color: var(--Tabs-line-color);
  //   border-radius: 2px;
  //   bottom: 0px;
  //   content: "";
  //   height: 2px;
  //   left: 0;
  //   margin: 0px;
  //   position: absolute;
  //   right: 8px;
  //   width: inherit;
  // }
  .CustomTabList{
    display: flex;
    font-weight: 500;
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0;
    > * {
      text-align: center;
      flex: auto;
    }
  }
}
