$primary: #00AEEA;
$tertiary: #C9C9C9;

:root{
  --black: #000000;
  --black2: #1d1d1d;

  --dark1: #3C3C3B;
  --dark2: #2f3136;
  --dark3: #202225;
  --dark4: #36393f;
  --dark5: #404348;

  --error: #F54B5E;
  --error-background: #FFD4D4;

  --success: #48D2A0;
  --success-light: #E1FFF4;

  --alert: #F8C51C;

  --gray: #ebe9f1;
  --gray2: #EDEDED;
  --gray3: #494949;
  --gray4: #f2f2f2;
  --gray5: #F5F5F5;
  --gray6: #E2E2E2;
  --gray7: #adadad;
  --gray8: #676769;
  --gray9: #c9c9c9;
  --gray10: #636e72;
  --gray12: #F5F5F5;
  --gray13: #9F9F9F;
  --gray14: #b4b2b2;
  --gray15: #7D7D7D;
  --gray16: #3A3A3A;
  --gray17: #C1C1C1;
  --gray18: #6A6A6A;
  --gray19: #898989;
  --gray20: #535151;
  --gray21: #696969;
  --gray22: #acacac;
  --gray23: #ededed;
  --gray24: #676767;

  --white: #ffffff;
  --disabled: #D9F3FC;

  --primary: #00AEEA;
  --primary-rgba: 0, 174, 234;
  --secondary: #21c6d6;
  --secondary-rgba: 33, 198, 214;
  --primary-darken: #{darken($primary, 15%)};
  --primary-lighten: #{lighten($primary, 45%)};
  --tertiary: #C9C9C9;
  --tertiary-darken: #{darken($tertiary, 15%)};

  --UI-background-2: var(--white);
  --UI-background: var(--white);
  --UI-background-3: transparent;
  --UI-background-inverted: var(--dark1);
  --UI-border-width: 1px;
  --UI-border-radius: 4px;
  --UI-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.24);
  --UI-box-shadow2: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
  --UI-box-shadow3: 0 2px 8px 0 rgba(0,0,0,0.24);
  --UI-box-shadow-hover: 0px 7px 13px 0px rgba(0, 0, 0, 0.3);
  --UI-font-color-2: var(--dark1);
  --UI-font-color: var(--dark1);
  --UI-font-color-inverted: var(--white);
  --UI-font-color-3: var(--black);
  --UI-font-color-4: var(--gray15);
  --UI-font-family: "Roboto", sans-serif;
  --UI-font-size: 12px;
  --UI-font-size-md: 10px;
  --UI-font-size-big: 16px;
  --UI-input-border-color: var(--gray9);
  --UI-line-color: var(--gray2);
  --UI-padding: 8px;
  --UI-padding-big: 16px;
  --UI-padding-footer: 8px 0px 4px 0px;
  --UI-padding-body: 1px 8px 8px 8px;
  --UI-line-height: 1rem;
  --UI-use-action-rgb-base-color:  2, 20, 6;
  --UI-badge-border-radius: 16px;
  --UI-badge-padding: 4px 8px;
  --UI-font-weight: 400;
  --UI-font-weight-bold: 700;
  --UI-font-size-small: 9.5px;
  --UI-infoPanel-section-padding: 24px;

  --warning-background: #FFFDD1;
  --warning-border: #F8C51C;

  --weak: #f25f5c;
  --fair: #ffe066;
  --good: #247ba0;
  --strong: #70c1b3;

  --UI-unset: unset !important;

  --Kenmei-Light-Light1: #ffffff;
  --Kenmei-Light-Light2: #f5f5f5;
  --Kenmei-Primary-Adele: #00AEEA;
  --Kenmei-Light-Light4: #C9C9C9;
  --Kenmei-Light-Light3: #EDEDED;
  --Kenmei-Dark-Dark1: #3C3C3B;
  --Kenmei-Dark-Dark3: #676767;
  --Kenmei-Dark-Dark4: #7D7D7D;
}

[data-color-theme="light"]{
  --Navbar-background-color: var(--dark1);
  --Navbar-color: var(--white);
    [id^='story--components-widget--']{
      background-color: var(--gray4);
    }
}

[data-color-theme="dark"]{
  --UI-background-2: var(--dark2)!important;
  --UI-background-3: var(--dark3)!important;
  --UI-background: var(--dark5)!important;
  --UI-background-inverted: var(--white)!important;
  --UI-font-color-2: var(--gray7)!important;
  --UI-font-color: var(--white)!important;
  --UI-font-color-inverted: var(--dark1)!important;
  --UI-input-border-color: var(--dark1)!important;
  --UI-line-color: var(--dark5)!important;
  --UI-font-color-3: var(--white)!important;
  --UI-font-color-4: var(--white)!important;

  --ButtonPrimary-background: var(--primary-darken)!important;
  --ButtonPrimary-border-color: var(--primary-darken)!important;
  --ButtonTertiary-background: var(--tertiary-darken)!important;
  --ButtonTertiary-border-color: var(--tertiary-darken)!important;

  --PageContainer-background-color: var(--dark2)!important;

  --Navbar-background-color: var(--dark3)!important;

  --Menu-background-color: var(--dark4)!important;
  --Widget-background: var(--dark4)!important;
  --Widget-border: 1px solid var(--dark4)!important;

  --Menu-separator-color: var(--dark5)!important;
  --Table-theader-background: var(--dark5)!important;
  --Menu-header-background-color: var(--dark5)!important;

  --Window-close-hover: var(--dark5)!important;

  --InputUI-placeholder-color: var(--gray8)!important;

  --ProgressBar-background: rgba(255, 255, 255, 0.2)!important;

  --Navbar-color: var(--white)!important;
  --Nav-list-seaparator-color: var(--gray3) !important;

  --Table-theader-color: var(--white)!important;
  --use-action-rgb-base-color: var(--UI-use-action-rgb-base-color)!important;

  --ButtonIcon-background: var(--black2) !important;
  --ButtonIcon-color: var(--white) !important;
  --ButtonIcon-color-disabled: var(--gray) !important;

  .sbdocs-preview{
    background-color: var(--dark2);

  }
}
